body{
  display: flex;
   flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: pink;
}
.card-container{
  width: 150px;
  height: 200px;
  background-color: aquamarine;
}